<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-sprints"><%= link_to 'Sprints', casein_sprints_path %></li>
<li id="tab-cards"><%= link_to 'Current sprint of work', casein_cards_path %></li>
<li id="tab-cards"><%= link_to 'Current sprint completed', completed_casein_cards_path %></li>